.login-div{
    margin: 150px auto;
    width: 400px;
}
.login-wrap {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow: auto;
    background-image: linear-gradient(125deg, #F44336, #E91E63, #9C27B0, #3F51B5, #2196F3);
    background-size: 400%;
    font-family: "montserrat";
    animation: bganimation 15s infinite;
}
@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}